<p class="pull-right"><%= link_to t("Back to top"), '#' %></p>
<div class="links">
  <ul>
    <%= link_to t("Legal notice"), '#' %>
    <%= link_to t("Terms & Conditions"), '#' %>
    <%= link_to t("About us"), '#' %>
  </ul>
</div>