<%
if current_ambassador.oauth_token?
  result = current_ambassador.fb_slogan_search(slogan.id).size
else
  result = t('You need to connect your account to a Social Network')
end
%>


<li><%= %Q(#{index+1}.-"#{slogan.search_term.term}" [#{result}]) %></li>