<% provide :h1, t("Your embassies") %>
<% provide :h3, t("Click to see details") %>
<p><%= t("ambassador_area.hello", name: current_ambassador.name) %></p>
<ul id="embassies">
  <%= render @embassies %>
<ul>