jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true

window.fbAsyncInit = ->
  FB.init(appId: '<%= FACEBOOK_CONFIG['app_id'] %>', cookie: true)

  $("#facebook_sign_in").click (e) ->
    e.preventDefault()
    # recover resource and locale in order to build the right callback address
    locale = $("b.anchorSDK").attr("data-custom-locale")
    resource = $("b.anchorSDK").attr("data-custom-resource")
    callback_address = "/#{resource}/auth/facebook/callback?locale=#{locale}"
    # now fire FB login function
    FB.login (response) ->
      window.location = callback_address if response.authResponse

  $('#sign_out').click (e) ->
    FB.getLoginStatus (response) ->
      FB.logout() if response.authResponse
    true