<p>Transitory welcome</p>

<ul>
  <li><%= link_to t("I am an Ambassador"), embassies_path %></li>
  <li><%= link_to t("I am a Consul from an Embassy"), rails_admin_path %></li>
  <li><%= link_to t("I am a Horse"), 'https://www.google.es/search?q=horse', target: '_blank' %></li>
</ul>