@import "frontend/incitatus_variables_n_mixins";

/******** AMBASSADOR *********/
h1 a { color: #ffa300;}
  h4 { letter-spacing: 0; }
  form.partial {
    margin-top: 20px;
  }
  .btn, .btn:hover {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-create, .btn-create:hover {
  color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #faa732;
background-image: -moz-linear-gradient(top, #fbb450, #f89406);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
background-image: -o-linear-gradient(top, #fbb450, #f89406);
background-image: linear-gradient(to bottom, #fbb450, #f89406);
background-repeat: repeat-x;
border-color: #f89406 #f89406 #ad6704;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
.btn:active { top: 2px; position:relative; }
li.mission {
  display: inline-block; vertical-align: top; padding: 10px 20px;
}

/********/

/**** EMBASSIES ****/

.embassy h1 i { display: inline-block; padding-right: 10px; }
.performance {
  margin: auto;
}
.performance li {
  list-style: none;
  display: inline-block;
}
.performance li i, .performance li span, .performance li span em {
  display: block;
  text-align: center;
}
.performance i {
  color: $mediumGreyBg;
}
.performance em {
  font-style: normal;
  color: #000;
}
.performance span {
  color: $mediumGreyBg;
}

/**** MISSIONS *****/

.mission_block {
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  padding: 10px;
  border:1px solid;
  border-color: $lightGreyBg;
  @include border-radius( 10px );
}
.mission_block:hover {
  @include border-radius(4px);
  @include box-shadow(0px, 10px, 10px, 8px, $lightGreyBg);
}
.mission_block em {
  color: $mediumGreyBg;
  font-style: italic;
  font-size: 0.8em;
  padding-left: 5px;
}
.header_wrapper {
  min-height: 120px; // 3 lines * 40 line-height
}
.mission_block, .mission_block ul {
  list-style: none;
  margin: 0;
}
.mission_block article {
  border-top: 1px solid $lightGreyBg;
}
.mission_block h4 {
  color: $almostGreyColor;
  font-size: 1.3em;
  position: relative;
  i {
    font-size: 0.7em;
    position: absolute;
    right: 0;
    color: #ddd;
    float: right;
    cursor: pointer;
    &:hover {
      font-size: 0.8em;
    }
  }
}
.mission_block a i {
  color: $almostGreyColor;
  padding: 0 0.3em;
  &:hover {
    font-size: 1.5em;
    padding: 0;
    text-decoration: none;
  }
}
.mission_points {
  color: $almostGreyColor;
  font-size: 4em;
  padding: 10px 0;
  text-align: center;
}
.mission_points span {
  color: $mediumGreyBg;
  font-size: 0.2em;
}
.sharing {
  padding: 10px 0 15px;
}
.description_wrapper {
  min-height: 42px; // 2 lines * 21 line-height
  margin-bottom: 15px;
}
.mission_description {
  text-align: center;
}
.mission_description a {
  color: $almostBlackColor;
}
.sharing_icons {
  line-height: 1.9em;
  text-align: center;
  margin-top: -5px;
}

// Rewards

.rewards {
  padding-bottom: 10px;
  box-shadow: 0px 8px 6px -6px $lightGreyBg;
}

.reward {
  display: inline-block;
}
.reward i {
  font-size: 4em;
  position: relative;
}
.reward i span {
  font-size: 0.3em;
  position: absolute;
  top: 18%;
  left: 45%;
}

.achieved i {
  color: $corporativeColor;
}
.achieved span {
  color: white;
}

.mini_carousel, .no_mini_carousel {
  margin-bottom: 10px;
}

.mini_carousel .carousel-control {
  font-size: 12px;
  @include border-radius(15px);
  width: 15px;
  height: 15px;
  line-height: 12px;
  top: 50%;
  background-color: $almostGreyColor;
  opacity: 0.2;
}
.mini_carousel .carousel-control:hover {
  opacity: 0.9;
}

// slogans
.slogans h4 {
  font-size: 1em;
  color: $mediumGreyBg;
  // color: $coolBlue;
}

.slogans .carousel-control {
  top: 70%;
  opacity: 0.2;
}

.slogan span {
  color: $mediumGreyBg;
  font-weight: bold;
}

.mission_block form {
  margin-bottom: 10px;
}
