@import "frontend/incitatus_variables_n_mixins";

.mission_block {
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  padding-top: 10px;
}
.mission_block:hover {
  @include border-radius(4px);
  @include box-shadow(0px, 10px, 10px, 8px, $lightGreyBg);
}
.header_wrapper {
  min-height: 120px; // 3 lines * 40 line-height
}
.mission_block, .mission_block ul {
  list-style: none;
  margin: 0;
}
.mission_block article {
  border-top: 1px solid $lightGreyBg;
}
.mission_block h4 {
  color: $almostGreyColor;
  font-size: 1.3em;
  position: relative;
  i {
    font-size: 0.7em;
    position: absolute;
    right: 0;
    color: #ddd;
    float: right;
    cursor: pointer;
    &:hover {
      font-size: 0.8em;
    }
  }
}
.mission_block a i {
  color: $almostGreyColor;
  padding: 0 0.3em;
  &:hover {
    font-size: 1.5em;
    padding: 0;
    text-decoration: none;
  }
}
.mission_points {
  color: $almostGreyColor;
  font-size: 4em;
  padding: 10px 0;
  text-align: center;
}
.mission_points span {
  color: $mediumGreyBg;
  font-size: 0.2em;
}
.sharing {
  padding: 10px 0 15px;
}
.description_wrapper {
  min-height: 63px; // 3 lines * 21 line-height
  margin-bottom: 15px;
}
.mission_description {
  text-align: center;
}
.sharing_icons {
  line-height: 1.9em;
  text-align: center;
  margin-top: -5px;
}

.rewards {
  padding-bottom: 10px;
  box-shadow: 0px 8px 6px -6px $lightGreyBg;
}

.reward {
  display: inline-block;
}
.reward i {
  font-size: 4em;
  position: relative;
}
.reward i span {
  font-size: 0.3em;
  position: absolute;
  top: 18%;
  left: 45%;
}

.achieved i {
  color: $corporativeColor;
}
.achieved span {
  color: white;
}

.rewards .carousel-control {
  font-size: 12px;
  @include border-radius(15px);
  width: 15px;
  height: 15px;
  line-height: 12px;
  top: 50%;
  opacity: 0.2;
}
.rewards .carousel-control:hover {
  opacity: 0.9;
}
