/** FOOTER **/
footer {
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.links li {
  float: left;
}
.links a {
  margin-right: 15px;
}

/** MISCELANEOUS **/
[class^="icon-"], [class*=" icon-"] {
  background-image: image_url('glyphicons-halflings.png');
}