/** STYLING THE DEBUG INFO (from github.com) **/
#debug { display: none; }
a.debug { color: #888; margin-left: 50px; text-decoration: underline; }
.debug_dump {
  clear: both;
  margin: 15px 0;
  padding: 6px 10px;
  border-radius: 3px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  word-wrap: break-word;
  width: 95%;
  margin: 15px auto;
}


/** MISCELANEOUS **/
/* temporary tweak till logo image */
.brand {
  padding-left: 44px;
  font-size: 29px;
  letter-spacing: 3px;
  color: white;
  text-indent: -9999em;
  display: inline;
  display: inline-block;
  height: 77px;
  width: 139px;
  background: image-url('fast-horse-logo.png') 0 0 no-repeat;
  zoom: 1;
}