/** SINAPSE customization **/
#header h1 a {
    color: #fff;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 20px;
}
#header h1 a small {
    color: #08c;
    font-weight: bold;
    font-size: 85%;
}
.navbar-inverse .nav li.btn-danger a {
  color: #fff;
}
.nav > .active > a > [class^="icon-"] {
  background-image: image-url("glyphicons-halflings.png");
}
#menu-languages b {
  margin-left: 4px;
  margin-right: 4px;
}

// sidebar icons
.icon-ambassador { background-position: -96px 0;} // as icon-heart
.icon-assignment { background-position: -288px 0;} // as icon-ok
.icon-badge { background-position: -72px -48px;} // as icon-bookmark
.icon-consul { background-position: -168px 0;} // as icon-user
.icon-embassy { background-position: -312px -24px;} // as icon-flag
.icon-mission { background-position: -432px -144px;} // as icon-briefcase
.icon-point { background-position: -96px -144px;} // as icon-thumbs-up
.icon-reward { background-position: -24px -120px;} // as icon-gift
.icon-search_term { background-position: 0px -48px;} // as icon-tag
.icon-slogan { background-position: -24px -144px;} // as icon-bullhorn

// breadcrumb
#breadcrumb {
  margin: 0;
  padding: 0 0 0 10px;
}

// uniform.css background images
div.selector, 
div.selector span, 
div.checker span,
div.radio span, 
div.uploader, 
div.uploader span.action,
div.button, div.button span {
  background-image: image-url("rails_admin/sprite.png")
}
textarea.uniform {
  background-image: image-url('rails_admin/bg-input-focus.png');
  background-image: image-url('rails_admin/bg-input.png');
}
textarea.uniform:focus {
  background-image: image-url('rails_admin/bg-input-focus.png');
}

// table actions menu
.inline li {
  display: inline-block;
}
/** end of SINAPSE customization **/